@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-base-100;
    }

    /* width */
    ::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-base-100;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-primary rounded;
    }
}

.swal2-popup {
    @apply bg-base-200 !important;
}

[data-theme="dark"] {
    color: #ffffff;
}

@media screen and (max-width: 640px) {
    .mockup-browser-toolbar::before {
        content: none !important;
    }
    .mockup-browser-toolbar {
        padding-left: 1rem;
    }
}
